[Unit]
Description=inphasebridge
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/inphasebridge.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
